---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<h2>Course Projects</h2>
{% for post in site.course_projects %}
  {% include archive-single.html %}
{% endfor %}

<h2>Academic Projects</h2>
{% for post in site.academic_projects %}
  {% include archive-single.html %}
{% endfor %}

<h2>Competitions</h2>
{% for post in site.competitions %}
  {% include archive-single.html %}
{% endfor %}

<h2>Paper Implementations</h2>
<!-- {% for post in site.implementations %}
  {% include archive-single.html %}
{% endfor %} -->
<ul>
  <li>Generative Image In-painting with Contextual Attention</li>
  <li>Generative Adversarial Text to Image Synthesis</li>
  <li>Generative Adversarial Networks</li>
  <li>Unpaired Image-to-Image Translation using Cycle-Consistent Adversarial Networks</li>
  <li>Image-to-Image Translation with Conditional Adversarial Networks</li>
  <li>Pyramid Scene Parsing Network</li>
</ul> 